fastapi>=0.115
uvicorn[standard]>=0.34
pydantic>=2.10
pydantic-settings>=2.7

sqlalchemy[asyncio]>=2.0
asyncmy>=0.2
PyMySQL>=1.1
alembic>=1.15

celery>=5.4
redis>=5.2

httpx>=0.28
python-multipart>=0.0.20
